
<h3>Welcome {{name}}. Share your stories</h3>


{{#if stories }}
<table>
    <thead>
        <tr>
            <th>Title</th>
            
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}"></a>{{title}}</td>
            
            <td>{{formatDate createdAt 'MMMM Do YYYY,h:mm:ss a'}}</td> <!--visit moment documentation for more date format-->
            <td>{{status}}</td>
            
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{else}}
<p>No stories yet</p>

{{/if}}